{% extends 'base.html' %}
{% load static %}

{% block title %}SecureLogin - Reset Password{% endblock %}

{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}

        {% load crispy_forms_tags %}
        <div class="container p-5">
            <h2 class="font-weight-bold mt-3">Reset Password</h2>
            <hr>
            <p>Forgotten your password or is the password expired? Enter your email address below, and we'll email instructions for setting a new one.</p>
            <br>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ password_reset_form|crispy }}
                </div>
                <br>
                <button class="btn btn-primary" type="submit">Send email</button>
            </form>
        </div>
<br>
<br>
<div class="row">
    <div class="col">
        <div class="col-lg-12 float-right">
            <a class="btn btn-primary float-right" href="{% url 'accounts:home' %}">Go Home</a>
        </div>
        </div>
</div>

{% endblock %}